<form (submit)="onSubmit($event)">
 <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">

      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin</a>

      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"  name="searchInput"  >
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <button  class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>Chercher
          </button>
        </li>

      </ul>

    </nav>
</form>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">


              <li class="nav-item">
                <a class="nav-link" routerLink="gestion">
                  <span data-feather="shopping-cart"></span>
                 Gestion Employé
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">
                  <span data-feather="users"></span>
                  Gestion Congé
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">
                  <span data-feather="bar-chart-2"></span>
                  Gestion Recrutement
                </a>
              </li>

            </ul>



          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>

