<h2>Dossier administratif</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th></th>
      <th>Ficher</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="checkbox" > </td>
      <td>{{dossier$.b3}}</td>
    </tr>

    <tr>
      <td><input type="checkbox" > </td>
      <td>{{dossier$.cnss}}</td>
    </tr>
    <tr>
      <td><input type="checkbox" > </td>
      <td>{{dossier$.copiecin}}</td>
    </tr>
    <tr>
      <td><input type="checkbox" > </td>
      <td>{{dossier$.diplome}}</td>
    </tr>
  </tbody>
    <button  class="btn btn-info btn-lg" type="submit">Enregistrer</button>
  </table>
</div>

